*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
    width: 95%;
    margin: 0 auto;
}
h1{
	text-align:center;
}
#color{
	border:5px solid green;
}
#color h2{
	color:red;
	padding:2em;
}
#color h3{
	background-color:rgb(0 255 255);
	padding:2em;
}

#text-alignment{
	border:5px dotted #ff0000;
	padding:15px
}
#text-alignment .right{
	text-align:right;
}
#text-alignment .left{
	text-align:left;
}
#text-alignment .center{
	text-align:center;
}
#text-alignment .justify{
	text-align:justify;
}

#text-align-last{
	border: 5px dashed blue;
}
#text-align-last .line-right{
	text-align-last:right;
}
#text-align-last .line-left{
	text-align-last:left;
}
#text-align-last .line-center{
	text-align-last:center;
}
#text-align-last .line-justify{
	text-align-last:justify;
}

#direction{
	border: 5px double orangered;
}
#direction .left-to-right{
	direction:ltr;
}#direction .right-to-left{
	direction:rtl;
}

#uni-bidi{
	border-top-style: dashed;
	border-right-style:double;
	border-bottom-style:dotted;
	border-left-style:solid;
	border-top-color: #03A9F4;		/* HEX coloer */
	border-right-color: limegreen;		/* color name */
	border-bottom-color: rgb(255 0 217);	 /* RGB color */
    border-left-color: hsl(250.23deg 100% 50%);		/* HSL color */
    border-width: 6px;
	padding:15px;
}
#uni-bidi .bidi{
	unicode-bidi:bidi-override;
	direction:rtl;
}
#v-align{
	border-style:solid;
	border-color:yellow;
	/* border width top,bottom,right,left */
	border-top-width:10px;
	border-right-width:15px;
	border-bottom-width:20px;	
	border-left-width:25px;
}
#v-align .top{
	background-color:blue;
	vertical-align:text-top;
	font-size:10px;
}
#v-align .bottom{
	background-color:blue;
	vertical-align:text-bottom;
	font-size:10px;
}

#decoration{
	border-style:groove;
	border-color:darkred;
	border-width:20px;
	padding:15px;
	/* */
}
#decoration .dec-line{
	text-decoration-line:underline;
}
#decoration .dec-color{
	text-decoration-line:overline;
	text-decoration-color:red;
}
#decoration .dec-style{
	text-decoration-line:underline;
	text-decoration-style:dashed;
	text-decoration-color:blue;
	text-decoration-thickness: 3px;
}
#decoration .dec-thick{
	text-decoration-line: overline;
    text-decoration-color: blue;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
}
#decoration .dec-shot{
   text-decoration:line-through darkgreen solid 3px;
}

#text-transform{
	border:10px ridge pink;
	padding:15px;
}
#text-transform .uppercase{
	text-transform:uppercase;
}
#text-transform .lowercase{
	text-transform:lowercase;
}
#text-transform .capitalize{
	text-transform:capitalize;
}

#text-spacing{
	border:10px inset darkblue;
	padding:15px;
}
#text-spacing .text-intent{
	text-indent:50px;
}
#text-spacing .letter-spacing{
	letter-spacing:15px;
}
#text-spacing .line-height{
	line-height:50px;
}
#text-spacing .word-spacing{
	word-spacing:25px;
}
#text-spacing .white-space1{
	white-space:wrap;
}
#text-spacing .white-space2{
	white-space:nowrap;
}

#shadow{
	border:10px outset darkred;
	padding:20px;
}
#shadow .text-shadow{
	text-align: center;
    font-size: 50px;
    text-shadow: 0px -38px 4px #ff0000, 232px 0px 4px orange, 0px 38px 4px blue, -154px 0px 4px rgb(37 255 0);
}
#shadow .box{
	margin:0 auto;
	padding:70px 0;
	width:150px;
	height:150px;
	text-align:center;
	background-color:black;
	color:white;
	/* Box Shadow */
	box-shadow:10px 10px 6px red, -10px -10px 6px blue;
}
#shadow .circle{
	margin:0 auto;
	padding:70px 0;
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	background-color:black;
	color:white;
	/* Box Shadow */
	box-shadow:0px 0px 0px 10px red, 0px 0px 0px 20px blue;
}